<footer class="footer">
	<div class="container">
		<div class="row">
		<div class="col-md-2">
			<a target="_blank" href="https://centrumcyfrowe.pl/">  
				<img class="footer" src="{{site.baseurl}}/img/CC_logopion_RGB.png" alt="Logo Centrum Cyfrowego"/></a>
		</div>	
		<div class="col-md-3">
			<img src="{{site.baseurl}}/img/cc-icons.png" alt="Ikona licencji CC-BY-SA" style="width: 30%; height: 30%" />
			<p class="footer">
				O ile nie stwierdzono inaczej, wszystkie materiały są dostępne na licencji
				<a class="project" target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution Share Alike 4.0</a> Unported license.
			</p>	
		</div>
			<div class="col-md-2">
			<a target="_blank" href="https://hewlett.org/">  
				<img class="footer-sponsor" src="{{site.baseurl}}/img/hewlett_logo.png" alt="Logo Hewlett Foundation"/></a>
		</div>	
			<div class="col-md-2">
			<a target="_blank" href="https://www.opensocietyfoundations.org/">  
				<img class="footer-sponsor" src="{{site.baseurl}}/img/Open-Society-Foundations_2.png" alt="Logo Open Society Foundations"/></a>
		</div>	
		<div class="col-md-3">
			<p class="footer">Projekt realizowany przez Centrum Cyfrowe ze środków William and Flora Hewlett Foundation i Open Society Foundations. </p>
		</div>	
	</div>
	</div>	
</footer>

