<footer class="footer">
	<div class="container">
		<div class="row">
		<div class="col-md-4">
			<a target="_blank" href="https://centrumcyfrowe.pl/">  
				<img src="{{site.baseurl}}/img/logo_CeCy_pionowe_kolor.png" alt="Logo Centrum Cyfrowego" style="width: 30%; height: 30%" /></a>
		</div>	
		<div class="col-md-4">
			<img src="{{site.baseurl}}/img/cc-icons.png" alt="Ikona licencji CC-BY-SA" style="width: 30%; height: 30%" />
			<p class="footer">
				O ile nie stwierdzono inaczej, wszystkie materiały są dostępne na licencji
				<a class="project" target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution Share Alike 4.0</a> Unported license.
			</p>	
		</div>
		<div class="col-md-4">
			<p class="footer">Projekt realizowany przez Centrum Cyfrowe ze środków William and Flora Hewlett Foundation i Open Society Foundations. </p>
		</div>	
	</div>
	</div>	
</footer>

