<footer class="footer">
	<div class="container-footer">
		<div class="row">
		<div class="col-md-2">
			<a target="_blank" href="https://centrumcyfrowe.pl/">  
				<img class="footer-logo" src="{{site.baseurl}}/img/logo_CC.png" alt="Logo Centrum Cyfrowego"/></a>
		</div>	
		<div class="col-md-3">
			<a class="project" target="_blank" href="https://creativecommons.org/licenses/by/4.0/deed.pl"><img class="license center" src="{{site.baseurl}}/img/ccby.png" alt="Ikona licencji CC-BY" /></a>
			<p class="footer">
				O ile nie stwierdzono inaczej, wszystkie materiały są dostępne na licencji
				<a class="project" target="_blank" href="https://creativecommons.org/licenses/by/4.0/deed.pl">
					Creative Commons Uznanie Autorstwa 4.0 Międzynarodowe</a>.
			</p>	
		</div>
			<div class="col-md-2">
			<a target="_blank" href="https://hewlett.org/">  
				<img class="footer-sponsor" src="{{site.baseurl}}/img/hewlett_logo.png" alt="Logo Hewlett Foundation"/></a>
		</div>	
			<div class="col-md-2">
			<a target="_blank" href="https://www.opensocietyfoundations.org/">  
				<img class="footer-sponsor" src="{{site.baseurl}}/img/Open-Society-Foundations_2.png" alt="Logo Open Society Foundations"/></a>
		</div>	
		<div class="col-md-2">
			<p class="footer" id="sponsors">Projekt realizowany przez Centrum Cyfrowe ze środków William and Flora Hewlett Foundation i Open Society Foundations. </p>
		</div>	
	</div>
	</div>	
</footer>

