<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-left" href="https://spoledkurs.centrumcyfrowe.pl">
			<img class="main-logo" alt="logo Społed" src="{{ site.baseurl }}/img/spoled-logo-01.png" /></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
				<li>	
					<a href="{{site.baseurl }}/modules/1. wprowadzenie/witamy/">kurs</a>
				</li>	
					
				<li>
					<a href="{{site.baseurl }}/static_pages/zasoby/">zasoby</a>
				</li>

				<li>
					<a href="{{site.baseurl }}/o-projekcie/">o projekcie</a>
				</li> 
          </ul>
        </div>
      </div>
</nav>
<!-- End Navigation -->
