<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">

	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<!-- <a href="#" class="navbar-toggle" data-toggle="collapse" data-target="#p2pu-menu">
			<i class="fa fa-bars"></i>
		</a> -->

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="container">
		</div>
	 <a class="navbar-brand" href="#">
		   <img alt="logo Społed" src="img/spoled-logo-01.png" /></a> 
		</div>
		<div class="collapse navbar-collapse" id="p2pu-menu">
			<ul class="nav navbar-nav">
				<li>
					<a href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a>
				</li>
				
				<li>	
					<a href="{{site.baseurl }}/modules/wprowadzenie/witamy/">Kurs</a>
				</li>	
				
				<li>
					<a href="{{site.baseurl }}/static_pages/zasoby/">Zasoby</a>
				</li>

				<li>
					<a href="{{site.baseurl }}/static_pages/o-projekcie/">O Społedzie</a>
				</li>	

				
			<!--	<li>
					<a href="http://community.p2pu.org/c/course-in-a-box" target="_blank">Forum</a>
				</li> -->
			</ul>
      {% if site.github.owner_name == 'p2pu' %}
			<ul class="p2pu-logo">
				<li><a class="p2pu-tab" href="https://www.p2pu.org/"><img src="{{ site.baseurl }}/img/logo.png" alt="{{ site.title }}" /></a></li>
			</ul>
      {% endif %}
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<!-- End Navigation -->
