<!-- sidebar dla zasobów -->
{{ page.categories }}
<div class="sidebar col-md-4">
		<div class="sidebar-title">
				Zasoby   
</div>
	
	<ul>
<li><a href="{{site.baseurl }}/zasoby/spoled-lokalnie/podcasty">SpołEd lokalnie <i class="fa fa-angle-down" aria-hidden="true"></i></a>
	<ul>
		<li><a href="{{site.baseurl }}/zasoby/spoled-lokalnie/podcasty">Podcast, film i grafika</a></li>
	</ul>	
</li>	
<li><a href="{{site.baseurl }}/zasoby/spoled-dla-klimatu">SpołEd dla klimatu <i class="fa fa-angle-down" aria-hidden="true"></i></a>
<ul>
<li><a href="{{site.baseurl }}/zasoby/spoled-dla-klimatu/karty-z-klimatem">Karty z klimatem</a></li>
<li><a href="{{site.baseurl }}/zasoby/spoled-dla-klimatu/konsumpcja-a-klimat">Konsumpcja a klimat</a></li>
<li><a href="{{site.baseurl }}/zasoby/spoled-dla-klimatu/klasa-z-klimatem">Klasa z klimatem</a></li>
</ul>
</li>			
<li><a href="{{site.baseurl }}/zasoby/spoled-lekcja-wychowawcza">SpołEd lekcja wychowawcza <i class="fa fa-angle-down" aria-hidden="true"></i></a>
<ul>
<li><a href="{{site.baseurl }}/zasoby/spoled-lekcja-wychowawcza/ko-lekcja">Kalendarz wychowawcy</a></li>
<li><a href="{{site.baseurl }}/zasoby/spoled-lekcja-wychowawcza/smoki-przestrzeni">Szkolna przestrzeń</a></li>
<li><a href="{{site.baseurl }}/zasoby/spoled-lekcja-wychowawcza/wychowawcza-start">Sztuka w wychowaniu</a></li>
<li><a href="{{site.baseurl }}/zasoby/spoled-lekcja-wychowawcza/wychowawcza-inaczej">Komunikacja</a></li>
</ul>
</li>		
<li><a href="{{site.baseurl }}/zasoby/spoled-matematyka">SpołEd matematyka <i class="fa fa-angle-down" aria-hidden="true"></i></a>
<ul>
<li><a href="{{site.baseurl }}/zasoby/spoled-matematyka/matematyka-praktycznie">Matematyka praktycznie</a></li>
<li><a href="{{site.baseurl }}/zasoby/spoled-matematyka/czas-na-app">Czas na App</a></li>
<li><a href="{{site.baseurl }}/zasoby/spoled-matematyka/przemycic-matematyke">Przemycić matematykę</a></li>
<li><a href="{{site.baseurl }}/zasoby/spoled-matematyka/praca-w-grupach">Praca w grupach</a></li>
</ul>
</li>
<li><a href="{{site.baseurl }}/zasoby/przewodnik-po-oze">Przewodnik po OZE</a></li>
<li><a href="{{site.baseurl }}/zasoby/infografiki">Infografiki</a></li>
<li><a href="{{site.baseurl }}/zasoby/otwarta-lekcja">Otwarta lekcja</a></li>		
</ul>
	
</div>
