<!-- sidebar dla zasobów -->
{{ page.categories }}
<div class="sidebar col-md-4">
		<div class="sidebar-title">
				Zasoby
</div>
	
	<ul>
<li><a href="{{site.baseurl }}/static_pages/zasoby/spoled-lekcja-wychowawcza">SpołEd lekcja wychowawcza <i class="fa fa-angle-down" aria-hidden="true"></i></a>
<ul>
<li><a href="{{site.baseurl }}/static_pages/zasoby/spoled-lekcja-wychowawcza/ko-lekcja">Kalendarz wychowawcy</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/spoled-lekcja-wychowawcza/smoki-przestrzeni">Szkolna przestrzeń</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/spoled-lekcja-wychowawcza/wychowawcza-start">Sztuka w wychowaniu</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/spoled-lekcja-wychowawcza/wychowawcza-inaczej">Komunikacja</a></li>
</ul>
</li>		
<li><a href="{{site.baseurl }}/static_pages/zasoby/spoled-matematyka">SpołEd matematyka <i class="fa fa-angle-down" aria-hidden="true"></i></a>
<ul>
<li><a href="{{site.baseurl }}/static_pages/zasoby/spoled-matematyka/matematyka-praktycznie">Matematyka praktycznie</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/spoled-matematyka/czas-na-app">Czas na App</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/spoled-matematyka/przemycic-matematyke">Przemycić matematykę</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/spoled-matematyka/praca-w-grupach">Praca w grupach</a></li>
</ul>
</li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/przewodnik-po-oze">Przewodnik po OZE</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/infografiki">Infografiki</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/otwarta_lekcja">Otwarta lekcja</a></li>		
</ul>
	
</div>
