<!-- sidebar dla zasobów -->

<div class="sidebar col-md-3">
	<!-- {% include next_module.html %}
	{% if prev %}
		<div class="pagination-section">
			<div class="title">
				Previous module:
			</div>
			<a rel="prev" class="prev" href="{{ site.baseurl }}{{ prev_post.url }}">
				{{ prev }} </a>
		</div>
		<hr />
	{% endif %} -->
	<ul>
		<li>SPOŁED MATEMATYKA</li>
			<ul>
				<li>MATEMATYKA PRAKTYCZNIE</li>
				<li>CZAS NA APP</li>
				<li>PRZEMYCIĆ MATEMATYKĘ</li>
				<li>PRACA W GRUPACH</li>
			</ul>
		<li>PRZEWODNIK PO OZE</li>
		<li>INFOGRAFIKI</li>
	</ul>
	
	<!--
	{% if next %}
		<hr />
		<div class="pagination-section">
			<div class="title">
				Next module:
			</div>
			<a rel="next" class="next" href="{{ site.baseurl }}{{ next_post.url }}"> {{ next }}
			</a>
		</div>
	{% endif %} -->
</div>
