body {
	background-color: #ffffff;
	font-family: 'Rubik', sans-serif !important;
	color: #000000;
	height: 100% !important;
}

h1, h2 {
	font-family: 'Rubik', sans-serif !important;
}

p {
	font-size: 16px;
}

@media (max-width: 991px) {
	p {
		margin-top: 10px;
	}
}

.course {
	background-color: #3c7c96 !important;
}

.relative {
	position: relative;
}

.background-white {
	padding: 60px 0;
	background-color: $white;
}

.navbar {
	height: 124px;
}

#navbar {
	padding-top: 15px;
}

.navbar-brand {
	padding: 12.5px 15px;
	
}

 .main-logo {
	height: 64px !important;
	margin-top: 30px; 
}

.navbar-default .navbar-nav>li>a:active {
	color: #c54c46 !important; 
}

.jumbotron {
	height: auto;
	/*width: 1300px; */
	/*background-position: center !important; */
	padding: 0 !important;
	margin: 0 !important;
	/*background-position: bottom center;
	background-repeat: no-repeat;*/
	background-size: auto; 
	background-color: transparent;
	position: relative;
}

.jumbotron header h1 {
	font-family: 'Rubik', sans-serif !important;
	font-weight: bold;
	font-size: 60px;
	color: #ffffff;
	position: absolute;
	top: 41%;
	left: 0;
	right: 0;

}


.btn-lg {
 
  border-radius: 0px !important;
  font-size: 18px;
  /*width: 22% !important;	*/
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0 !important;
    font-weight: bold;
    color: #000000 !important;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 15px 30px;
    line-height: 1.428571429;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position:absolute;	
    bottom: 5%;	
    width: 200px;
    margin-left: -100px;
	}
	
.btn-default {
    background-color: #fff;
    border-color: #fff;
}

.btn-default:hover {
    background: #B8B8B8;
}	

	
video {
    width: 100%;    
    height: auto;
}

.container-front {
	width: 100% !important;
	padding: 0;
}

@media (max-width: 991px) {
    .navbar {
        height: auto !important;
	}
    #navbar {
	padding-top: 0 !important;
	}
    .main-logo {
	margin-left: 10px; 
	margin-bottom: 10px;    
	}
    .jumbotron header h1 {
	top: 200px !important;
	left: 0 !important;
	right: 0 !important;    
	}
    .front {
	margin-left: 10px;
	margin-right: 10px;    
	    
	}
     
    #intro {
	/*padding-left: 150px;
	padding-right: 150px; */   
	}
	
}

@media (min-width: 680px) and (max-width: 870px) {
	
	.jumbotron header h1 {
		top: 100px !important;
	}

}

@media (min-width: 490px) and (max-width: 679px) {
	
	.jumbotron header h1 {
		top: 55px !important;
		font-size: 35pt !important;
	}

}

@media (min-width: 358px) and (max-width: 489px) {
    .jumbotron header h1 {
	/*top: 130px !important; */
	left: 0 !important;
	right: 0 !important;
	font-size: 30pt !important;
	top: 0 !important;    
	}	
}

@media (min-width: 297px) and (max-width: 357px) {
    .jumbotron header h1 {
	/*top: 130px !important; */
	left: 0 !important;
	right: 0 !important;
	font-size: 25pt !important;
	top: 0 !important;    
	}	
}

@media (max-width: 296px) {
    .jumbotron header h1 {
	    font-size: 23pt !important;
	}
}	

#intro {
	text-align: center;
	font-weight: bold;
	font-size: 26px;
	margin-top: 40px;
	margin-bottom: 40px;
}

@media (min-width: 479px) {
.home-intro {
	background-image: url("../img/header-home2.svg");
	background-repeat:no-repeat;
    	background-size: auto;
	background-position: center;
	padding-top: 60px;
	padding-bottom: 60px; 
	}
}


@media (max-width: 1155px) {
	
	#intro {
	   font-size: 21px;
}	
	.col-md-8 {
	padding: 0 !important;
	}
	
}

@media (min-width: 2151px) {
	
	#intro {
	   margin-left: 300px !important;
	   margin-right: 350px !important; 
	}
}

@media (min-width: 1821px) and (max-width: 2150px) {
	
	#intro {
	   margin-left: 260px !important;
	   margin-right: 280px !important; 
	}
}

@media (min-width: 1566px) and (max-width: 1820px) {
	
	#intro {
	   margin-left: 200px !important;
	   margin-right: 220px !important; 
	}
}

@media (min-width: 1311px) and (max-width: 1565px) {
	
	#intro {
	   margin-left: 180px !important;
	   margin-right: 200px !important; 
	}
}

@media (min-width: 992px) and (max-width: 1310px) {
	
	#intro {
	   margin-left: 140px !important;
	   margin-right: 160px !important; 
	}
}

@media (min-width: 685px) and (max-width: 991px) {
	
	#intro {
	   margin-left: 180px !important;
	   margin-right: 200px !important; 
	}
}

@media (min-width: 552px) and (max-width: 684px) {
	
	#intro {
	   margin-left: 120px !important;
	   margin-right: 130px !important; 
	}
}

@media (min-width: 479px) and (max-width: 551px) {
	
	#intro {
	   margin-left: 100px !important;
	   margin-right: 100px !important; 
	}
}

@media (max-width: 478px) {
	
	#intro {
	   margin-left: 20px !important;
	   margin-right: 20px !important; 
	}
}	



.screen-title {
	font-size: 40px;
    	font-weight: bold;
	color: #c54c46;
	margin-bottom: 40px;
}

.screen-content {
	margin-top: 40px;
	margin-bottom: 60px;
	font-size: 16px;
}

a.content-link {
	color: #3c7c96 !important;
}

li.bullet {
	list-style-type: disc !important;
}

li.number {
	list-style-type: decimal !important;	
}

.title-section {
	color: #616161;
}

a.prev, a.next {
	color: #3c7c96 !important;
}

.sidebar-title {
	font-size: 40px;
	font-weight: bold;
	padding-left: 50px;
	padding-bottom: 30px;
	color: #FFFFFF;
}

.sidebar {
	padding: 30px 0;
	background-color: #3c7c96;
	height: 100% !important;
}

ul.module-name {
	color: #ffffff;
	cursor: pointer;
}
	
.fa-angle-down {
	margin-left: 10px;
}

.fa-angle-up {
	margin-left: 10px;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

li {
	list-style-type: none !important;
}

.sidebar li {
	line-height: 3;
	padding-left: 50px;
	position: relative;
	font-size: 17px;
	font-weight: 700;
	
}

.sidebar li:hover {
	background-color: #3c7c96 !important;

	a:hover, a:focus {
		text-decoration: none;
		color: #000000; 
	}
}

.sidebar li:active {
	color: #000000 !important; 
}

.sidebar li:focus {
	color: #000000 !important; 
}

.sidebar li.active a:hover  {
	color: #000000;
}

/*stąd wycięty li::before */

.sidebar li.first:before {
	height: 50%;
	top: 50%;
}

.sidebar li.last:before {
	height: 50%;
	top: 0;
}

.sidebar li.first.last:before {
	height: 0;
	top: 0;
}

.sidebar li a {
	display: block;
	line-height: 3;
	color: #ffffff;
}


.sidebar1 {
	padding: 30px 0;
	background-color: #3c7c96;
}

.sidebar1 ul {
	list-style-type: none;
	padding: 0;
}

 .small {
	font-size: 16px;
}

.sidebar1 li {
	line-height: 3;
	padding-left: 50px;
	position: relative;
	font-size: 17px;
	font-weight: 700;
	
}

.sidebar1 li:hover {
	background-color: #3c7c96;

	a:hover, a:focus {
		text-decoration: none;
		color: #000000
	}
}

.sidebar1 li.active {
	background-color: #3c7c96;
	color: #000000;
}

.sidebar1 li.active a:hover {
	color: #000000;
}

.sidebar1 li:focus {
	color: #000000!important; 
}


.sidebar1 li.first:before {
	height: 50%;
	top: 50%;
}

.sidebar1 li.last:before {
	height: 50%;
	top: 0;
}

.sidebar1 li.first.last:before {
	height: 0;
	top: 0;
}

.sidebar1 li a {
	display: block;
	line-height: 3;
	color: #ffffff;
}


@media (min-width: 345px) and (max-width: 1045px) {
	.sidebar-title, .sidebar li, .sidebar1 li {
		padding-left: 25px !important;
		}
}

@media (min-width: 315px) and (max-width: 344px) {
	.sidebar-title, .sidebar li, .sidebar1 li {
		padding-left: 15px !important;
		}
	.sidebar li, .sidebar1 li {
		font-size: 16px;
	}
}

@media (max-width: 314px) {
	.sidebar-title, .sidebar li, .sidebar1 li {
		padding-left: 5px !important;
		}
	.sidebar li, .sidebar1 li {
		font-size: 15px;
	}
}

.pagination-section {
	margin: 1em 0;
}

.pagination-section .title {
	color: $gray;
	line-height: 2;
}

.pagination-section {
	.next, .prev {
		text-transform: uppercase;
	}
}

.pagination-section .next:after {
	content: "\f0da";
	font-family: FontAwesome;
}

.pagination-section .prev:before {
	content: "\f0d9";
	font-family: FontAwesome;
}

.sidebar .pagination-section {
	padding-left: 60px;
}

.content {
	line-height: 2;
}

blockquote {
	font-size: initial;
	font-style: italic;
	line-height: 1.9;
}

#ghUsername-box {
	position: relative;
	background: $gray-lighter;
	padding: 10px 20px;

	.ghUsername-set {
		@extend .h2;
		padding: 7px 15px;
		display: block;
		margin: 0;

		&:hover {
			text-decoration: none;
		}

	}
	.label {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.gh-username-set {
	input {
		padding: 4px;
	}
	button {
		margin-top: -5px;
	}
}

.button-sidebar {
	background-color: #ffcc66;
   	border: none;
    	color: #000000;
    	/* padding: 15px 32px; */
   	text-align: left;
   	text-decoration: none;
   	display: /*inline-*/block;
   	font-size: 16px;
    	/* margin: 4px 2px; */
   	cursor: pointer;
	
}


.clearfix {
	background-color: #ffffff;
	height: 100% !important;
}

@media (min-width: 992px) {
	.modules-content {
	min-height: 684px;
	}
}

img.manifest-logo {
	padding-top: 20px;
	padding-bottom: 20px;
}

h2.manifest-title {
	font-size: 40px;
	font-weight: bold;
}

p.manifest-people {
	font-size: 20px;
	font-weight: bold;
}

span.white {
	color: #ffffff;
}
span.violet {
	color: #603768;
}

p.manifest {
	font-size: 18px !important;
}

p.white {
	color: #ffffff;
}
 
.background-green {
	background-color: #3FA29D;
	margin-top: -2px; 
}
		
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


@media (max-width: 991px) {
	.row-eq-height {
		display: block;
	}
	
	img.manifest-logo {
		 display: block;
    		 margin-left: auto;
    		 margin-right: auto;
		 padding-top: 30px;
		 padding-bottom: 40px;
	}
	
	p.manifest-people {
		margin-bottom: 20px;
	}
	
	.background-green {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	img.manifest-img {
		 display: block;
    		 margin-left: auto;
    		 margin-right: auto;
		 max-width: 50% !important;
	}
}

@media (max-width: 420px) {
	img.manifest-img {
		 max-width: 100% !important;
	}
}

@media (max-width: 300px) {
	h2, .screen-title {
		font-size: 35px !important;	
	}
	
}

a.dictionary {
	text-decoration: none;	
}

p.source {
	font-size: 13px;
	margin-left: 40px;
}


.resources-container {
	height: 325px;
}


p.resource {
	margin-top: 10px;
}

p.icons-source {
	font-size: 13px;
}

.access {
	margin-top: 10px;
	margin-bottom: 10px;
}

.about-project {
	background: url("../img/baner-o-projekcie 1.png");
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	height: 326px;
	width: 100%;
	position: relative;
	top: -22px;
}

#about-project {
	color: $white;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 150px;
	font-size: 60px;
	font-family: 'Rubik', sans-serif !important;
}

@media (max-width: 991px) {
	.clearfix {
		margin-left: 10px;
		margin-right: 10px;
	}
	.row {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

h1.project-title{
	margin-bottom: 30px;
}

a.project {
	color: #c54c46;
}

h2.team {
	margin-bottom: 20px;
}

footer {
	min-height: 200px;
	background-color: #B8B8B8;
	padding-top: 48px;
}

.container-footer .row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

p.footer {
	font-size: 14px;
}

#sponsors {
	padding-left: 20px;
}

img.license {
	height: 30px;
	margin-bottom: 5px;
}

img.footer-logo {
	height: 110px;
	padding-left: 30px;
}
img.footer-sponsor {
	width: 195px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
 
@media (max-width: 991px) {
	.footer {
		padding-top: 5px !important;	
	}
	
	.container-footer {
		text-align: center !important;	
	}
	
	img.footer-logo {
		padding-left: 0 !important;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	img.license {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	p.footer {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	img.footer-sponsor {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
}
