body {
	background-color: #ffffff;
	font-family: 'Rubik', sans-serif !important;
	color: #000000;
	height: 100% !important;
}

h1, h2 {
	font-family: 'Rubik', sans-serif !important;
}

p {
	font-size: 16px;
}

.course {
	background-color: #ffcc66 !important;
}

.relative {
	position: relative;
}

.background-white {
	padding: 60px 0;
	background-color: $white;
}

.navbar {
	height: 124px;
}

#navbar {
	padding-top: 15px;
}

.navbar-brand {
	padding: 12.5px 15px;
	
}

 .main-logo {
	height: 64px !important;
	margin-top: 30px; 
}

.navbar-default .navbar-nav>li>a:active {
	color: #c54c46 !important; 
}

@media (max-width: 991px) {
    .navbar {
        height: auto !important;
	}
    #navbar {
	padding-top: 0 !important;
	}
    .main-logo {
	margin-left: 10px; 
	margin-bottom: 10px;    
	}
    .jumbotron header h1 {
	top: 200px !important;
	left: 0 !important;
	right: 0 !important;    
	}
    .front {
	margin-left: 10px;
	margin-right: 10px;    
	    
	}
    .home-intro {
	 background-size: auto !important;   
	}
     
    #intro {
	/*padding-left: 150px;
	padding-right: 150px; */   
	}
	
}

@media (max-width: 380px) {
    .jumbotron header h1 {
	top: 130px !important;
	left: 0 !important;
	right: 0 !important;
	font-size: 40pt !important;  
	color: #c54c46;    
	}	
}


.jumbotron {
	height: auto;
	/*width: 1300px; */
	/*background-position: center !important; */
	padding: 0 !important;
	margin: 0 !important;
	/*background-position: bottom center;
	background-repeat: no-repeat;*/
	background-size: auto; 
	background-color: transparent;
	position: relative;
}

.jumbotron header h1 {
	font-family: 'Rubik', sans-serif !important;
	font-weight: bold;
	font-size: 60px;
	color: #ffffff;
	position: absolute;
	top: 300px;
	left: 80px;
	right: 80px;

}


.btn-lg {
 
  border-radius: 0px !important;
  font-size: 18px;
  /*width: 22% !important;	*/
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    color: #000000 !important;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 10px 15px;
    line-height: 1.428571429;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;	
    top: -90px;
	}
	
.btn-default {
    background-color: #fff;
    border-color: #fff;
}

.btn-default:hover {
    background: #c54c46;
}	

	
video {
    width: 100%;    
    height: auto;
}

.container-front {
	width: 100% !important;
	padding: 0;
}

.home-intro {
	background-image: url("../img/header-home2.png");
	background-repeat:no-repeat;
    	background-size: auto;
	background-position: center; 
	padding-top: 60px;
	padding-bottom: 60px;

}

#intro {
	text-align: center;
	font-weight: bold;
	font-size: 26px;
	/*margin-left: 180px;
	margin-right: 180px; */
	padding-left: 150px;
	padding-right: 150px;
}

@media (max-width: 1155px) {
	
	.home-intro {
    	background-size: cover !important;

}
	#intro {
	   font-size: 21px;
	   /*margin-left: 180px !important;
	   margin-right: 180px !important; */
}	
	.col-md-8 {
	padding: 0 !important;
	}
	
}


.p2pu-footer {
	margin-top: 0;
}

.sidebar-title {
	font-size: 40px;
	font-weight: bold;
	padding-left: 30px;
	padding-bottom: 30px;
	color: #FFFFFF;
}

.sidebar {
	padding: 30px 0;
	background-color: #559fbc;
	height: 100% !important;
}

.fa-angle-down {
	margin-left: 10px;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

li {
	list-style-type: none !important;
}

.sidebar li {
	line-height: 3;
	padding-left: 30px;
	position: relative;
	font-size: 17px;
	font-weight: 700;
	
}

.sidebar li:hover {
	background-color: #ffcc66 !important;

	a:hover, a:focus {
		text-decoration: none;
		color: #000000; 
	}
}

.sidebar li:active {
	color: #000000 !important; 
}

.sidebar li:focus {
	color: #000000 !important; 
}

.sidebar li.active a:hover  {
	color: #000000;
}

/*stąd wycięty li::before */

.sidebar li.first:before {
	height: 50%;
	top: 50%;
}

.sidebar li.last:before {
	height: 50%;
	top: 0;
}

.sidebar li.first.last:before {
	height: 0;
	top: 0;
}

.sidebar li a {
	display: block;
	line-height: 3;
	color: #000000;
}

/*.sidebar li a:before {
	content: "\f005";
	font-family: FontAwesome;
	color: #000000;;
	position: absolute;
	left: 29px;
	line-height: 1.7;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 3px solid $gray;
	top: 18px;
	background-color: #ffcc66;
	text-align: center;
	font-size: 0.8em;
}

.sidebar li.active a:before {
	content: "\f04b";
}

.sidebar li a:after {
	content: "";

} */


.sidebar1 {
	padding: 30px 0;
	background-color: #559fbc;
}

.sidebar1 ul {
	list-style-type: none;
	padding: 0;
}

 .small {
	font-size: 16px;
}

.sidebar1 li {
	line-height: 3;
	padding-left: 30px;
	position: relative;
	font-size: 16px;
	font-weight: 700;
	
}

.sidebar1 li:hover {
	background-color: #559fcb;

	a:hover, a:focus {
		text-decoration: none;
		color: #000000
	}
}

.sidebar1 li.active {
	background-color: ##559fbc
	color: #000000;
}

.sidebar1 li.active a:hover {
	color: #000000;
}

.sidebar1 li:focus {
	color: #000000!important; 
}

/*.sidebar1 li:before {
	content: "";
	border-left: 3px solid #aab0bf;
	position: absolute;
	left: 40px;
	height: 100%;
	top: 0;
} */

.sidebar1 li.first:before {
	height: 50%;
	top: 50%;
}

.sidebar1 li.last:before {
	height: 50%;
	top: 0;
}

.sidebar1 li.first.last:before {
	height: 0;
	top: 0;
}

.sidebar1 li a {
	display: block;
	line-height: 3;
	color: #000000;
}

/*.sidebar1 li a:before {
	content: "\f005";
	font-family: FontAwesome;
	color: #000000;
	position: absolute;
	left: 29px;
	line-height: 1.7;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 3px solid $gray;
	top: 18px;
	background-color: white;
	text-align: center;
	font-size: 0.8em;
}

.sidebar1 li.active a:before {
	content: "\f04b";
}

.sidebar1 li a:after {
	content: "";

} */

.pagination-section {
	margin: 1em 0;
}

.pagination-section .title {
	color: $gray;
	line-height: 2;
}

.pagination-section {
	.next, .prev {
		text-transform: uppercase;
	}
}

.pagination-section .next:after {
	content: "\f0da";
	font-family: FontAwesome;
}

.pagination-section .prev:before {
	content: "\f0d9";
	font-family: FontAwesome;
}

.sidebar .pagination-section {
	padding-left: 60px;
}

.content {
	line-height: 2;
}

blockquote {
	font-size: initial;
	font-style: italic;
	line-height: 1.9;
}

#ghUsername-box {
	position: relative;
	background: $gray-lighter;
	padding: 10px 20px;

	.ghUsername-set {
		@extend .h2;
		padding: 7px 15px;
		display: block;
		margin: 0;

		&:hover {
			text-decoration: none;
		}

	}
	.label {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.gh-username-set {
	input {
		padding: 4px;
	}
	button {
		margin-top: -5px;
	}
}

.button-sidebar {
	background-color: #ffcc66;
   	border: none;
    	color: #000000;
    	/* padding: 15px 32px; */
   	text-align: left;
   	text-decoration: none;
   	display: /*inline-*/block;
   	font-size: 16px;
    	/* margin: 4px 2px; */
   	cursor: pointer;
	
}


.clearfix {
	background-color: #ffffff;
	height: 100% !important;
}

.about-project {
	background: url("https://kasiawerner.github.io/spoled_test/img/baner-o-projekcie.png");
	background-position: center; 
	background-repeat: no-repeat;
	height: 326px;
	width: 100%;
	position: relative;
	top: -22px;
}

#about-project {
	color: $white;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 150px;
	font-size: 60px;
	font-family: 'Rubik', sans-serif !important;
}

@media (max-width: 991px) {
	.clearfix {
		margin-left: 10px;
		margin-right: 10px;
	}
	.row {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

h1.project-title{
	margin-bottom: 30px;
}

a.project {
	color: #c54c46;
}

h2.team {
	margin-bottom: 20px;
}

footer {
	min-height: 200px;
	background-color: #c0c6c6;
	padding-top: 48px;
}

.container-footer .row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

p.footer {
	font-size: 14px;
}

#sponsors {
	padding-left: 10px;
}

img.license {
	height: 30px;
	margin-bottom: 5px;
}

img.footer-logo {
	height: 120px;
	padding-left: 30px;
}
img.footer-sponsor {
	width: 195px;
	padding-top: 5px;
}
 
