body {
	background-color: $gray-lighter;
	font-family: 'Rubik', sans-serif !important;
}

.relative {
	position: relative;
}

.background-white {
	padding: 60px 0;
	background-color: $white;
}

.navbar-brand {
	padding: 12.5px 15px;
}

.p2pu-footer {
	margin-top: 0;
}

.sidebar {
	padding: 60px 0;
	background-color: #559fbc;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

li {
	list-style-type: none !important;
}

.sidebar li {
	line-height: 4;
	padding-left: 60px;
	position: relative;
	
}

.sidebar li:hover {
	background-color: #559fbc !important;

	a:hover, a:focus {
		text-decoration: none;
		/* color: $white; */
	}
}

.sidebar li.active {
	/* background-color: $white; */
}

.sidebar li.active a:hover {
	color: #000000;
}

/*stąd wycięty li::before */

.sidebar li.first:before {
	height: 50%;
	top: 50%;
}

.sidebar li.last:before {
	height: 50%;
	top: 0;
}

.sidebar li.first.last:before {
	height: 0;
	top: 0;
}

.sidebar li a {
	display: block;
	line-height: 4;
	text-transform: uppercase;
	color: #000000;
}

.sidebar li a:before {
	content: "\f005";
	font-family: FontAwesome;
	color: #000000;;
	position: absolute;
	left: 29px;
	line-height: 1.7;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 3px solid $gray;
	top: 18px;
	background-color: #559fbc;
	text-align: center;
	font-size: 0.8em;
}

.sidebar li.active a:before {
	content: "\f04b";
}

.sidebar li a:after {
	content: "";

}


.sidebar1 {
	padding: 60px 0;
	background-color: #559fbc;
}

.sidebar1 ul {
	list-style-type: none;
	padding: 0;
}

.sidebar1 li {
	line-height: 4;
	padding-left: 60px;
	position: relative;
	@include transition(color, 0.3s, linear);
}

.sidebar1 li:hover {
	background-color: #F3F4F8;

	a:hover, a:focus {
		text-decoration: none;
		color: #000000;;
	}
}

.sidebar1 li.active {
	background-color: $white;
}

.sidebar1 li.active a:hover {
	color: #000000;;
}

.sidebar1 li:before {
	content: "";
	border-left: 3px solid #aab0bf;
	position: absolute;
	left: 40px;
	height: 100%;
	top: 0;
}

.sidebar1 li.first:before {
	height: 50%;
	top: 50%;
}

.sidebar1 li.last:before {
	height: 50%;
	top: 0;
}

.sidebar1 li.first.last:before {
	height: 0;
	top: 0;
}

.sidebar1 li a {
	display: block;
	line-height: 4;
	text-transform: uppercase;
	color: #000000;
}

.sidebar1 li a:before {
	content: "\f005";
	font-family: FontAwesome;
	color: #000000;
	position: absolute;
	left: 29px;
	line-height: 1.7;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 3px solid $gray;
	top: 18px;
	background-color: white;
	text-align: center;
	font-size: 0.8em;
}

.sidebar1 li.active a:before {
	content: "\f04b";
}

.sidebar1 li a:after {
	content: "";

}

.pagination-section {
	margin: 1em 0;
}

.pagination-section .title {
	color: $gray;
	line-height: 2;
}

.pagination-section {
	.next, .prev {
		text-transform: uppercase;
	}
}

.pagination-section .next:after {
	content: "\f0da";
	font-family: FontAwesome;
}

.pagination-section .prev:before {
	content: "\f0d9";
	font-family: FontAwesome;
}

.sidebar .pagination-section {
	padding-left: 60px;
}

.content {
	line-height: 2;
}

blockquote {
	font-size: initial;
	font-style: italic;
	line-height: 1.9;
}

#ghUsername-box {
	position: relative;
	background: $gray-lighter;
	padding: 10px 20px;

	.ghUsername-set {
		@extend .h2;
		padding: 7px 15px;
		display: block;
		margin: 0;

		&:hover {
			text-decoration: none;
		}

	}
	.label {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.gh-username-set {
	input {
		padding: 4px;
	}
	button {
		margin-top: -5px;
	}
}

.button-sidebar {
	background-color: #559fbc;
   	border: none;
    	color: #000000;
    	/* padding: 15px 32px; */
   	text-align: left;
   	text-decoration: none;
   	display: /*inline-*/block;
   	font-size: 16px;
    	/* margin: 4px 2px; */
   	cursor: pointer;
	
}


