<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<script type="text/javascript">var _sf_startpt = (new Date()).getTime()</script>
	<meta charset="utf-8">
	<!--[if IE]><meta content='IE=8' http-equiv='X-UA-Compatible' /><![endif]-->

	<title>{{ site.data.course.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
  {% if site.data.course.description %}<meta name="description" content="{{ site.data.course.description}}">{% endif %}
  <meta name="author" content="{{ site.github.owner_name }}">

  <meta property="og:title" content="{{ site.data.course.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.github.url }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/img/apple-touch-icon-1.png">

	<link rel="stylesheet" href="/css/p2pustrap-custom.css" />
	<link rel="stylesheet" href="/css/site.css" />
  {% if page.extra_css %}
    {% for css in page.extra_css %}
    <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  {% endif %}

	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="/js/modernizr-2.6.2.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,700,900&amp;subset=latin-ext">
	<script src="https://use.fontawesome.com/1dd9338d9c.js"></script>
	
	

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.centrumcyfrowe.pl/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '24']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->



</head>
<body {% if page.itemtype %}itemscope itemtype="{{ page.itemtype }}"{% endif %}
      class="{{ page.body-class }}">

{% include navigation.html %}

{{ content }}

{% include footer.html %}

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>	
	
<script>
  window.jQuery || document.write('<script src="{{ site.baseurl }}/js/jquery.min.js"><\/script>')
</script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/js/init.js"></script>
<script src="/js/gh_link_helper.js"></script>
	
 <script src="{{site.baseurl}}/js/spoled.js"></script> 	

{% if page.extra_js %}
  {% for js in page.extra_js %}
    <script src="{{js}}"></script>
  {% endfor %}
{% endif %}

<script>
	P2PU.ciab.init();
</script>

<!-- Google Analytics -->
{% if site.ga_tracking_code or site.p2pu_ga_tracking_code %}
	{% include ga.html %}
{% endif %}

</body>
</html>
